.sidebar {
  width: 220px;
  position: sticky;
  height: calc(100vh - 115px);
  overflow-y: auto;
}

@media (max-width: 900px) {
  .sidebar {
    width: 100%;
    position: static;
    top: auto;
    height: auto;
    overflow: visible;
  }
}

.title {
  font-weight: 700;
}

.sectionTitle {
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
}

.categoryButton {
  border-radius: 0.75rem;
  margin-bottom: 0.25rem;
  gap: 2;
}