
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30;
    height: '100%'
}

.metric{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar{
    width: 200;
    height: 200;
    border-radius: 100;
}

.profileInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.addressPaper{
    padding: 10px;
}

.addressDefault{
    display: flex;
    align-items: center;
    justify-content: space-between;
}